# Week 2 Lab

**Datasets**:

The following datasets are used in this lab.

- [nyc_subway_stations.tsv](https://storage.googleapis.com/qm2/CASA0025/nyc_subway_stations.tsv)
- [nyc_neighborhoods.tsv](https://storage.googleapis.com/qm2/CASA0025/nyc_neighborhoods.tsv)

In [11]:
# %pip install duckdb duckdb-engine jupysql

In [12]:
import duckdb

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

## Question 1: Creating Tables

Create a database, then write a SQL query to create a table named `nyc_subway_stations` and load the data from the file `nyc_subway_stations.tsv` into it. Similarly, create a table named `nyc_neighborhoods` and load the data from the file `nyc_neighborhoods.tsv` into it.

In [2]:
%pip install duckdb duckdb-engine jupysql

Requirement already satisfied: duckdb in /usr/local/lib/python3.12/dist-packages (1.3.2)
Requirement already satisfied: duckdb-engine in /usr/local/lib/python3.12/dist-packages (0.17.0)
Requirement already satisfied: jupysql in /usr/local/lib/python3.12/dist-packages (0.11.1)
Requirement already satisfied: packaging>=21 in /usr/local/lib/python3.12/dist-packages (from duckdb-engine) (26.0)
Requirement already satisfied: sqlalchemy>=1.3.22 in /usr/local/lib/python3.12/dist-packages (from duckdb-engine) (2.0.46)
Requirement already satisfied: prettytable>=3.12.0 in /usr/local/lib/python3.12/dist-packages (from jupysql) (3.17.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.5.5)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.12/dist-packages (from jupysql) (3.1.6)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.12/dist-packages (from jupysql) (25.20.2)
Requirement already satisfied: jupysql-plugin>=0.4.2 in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in /usr/local/lib/python3.12/dist-packages (from jupysql) (0.2.27)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.12/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.3)
Requirement already satisfied: posthog>=3.0 in /usr/local/lib/python3.12/dist-packages (from ploomber-core>=0.2.7->jupysql) (7.8.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable>=3.12.0->jupysql) (0.5.3)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=1.3.22->duckdb-engine) (3.3.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.12/dist-packages (from jinja2->jupysql) (3.0.3)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.32.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.17.0)
Requirement already satisfied: python-dateutil>=2.2 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Requirement already satisfied: backoff>=1.10.0 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: distro>=1.5.0 in /usr/local/lib/python3.12/dist-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2026.1.4)

In [3]:
import duckdb
%load_ext sql
%sql duckdb:///:memory:

Connecting to 'duckdb:///:memory:'

In [4]:
%%sql

DROP TABLE IF EXISTS nyc_subway_stations;
DROP TABLE IF EXISTS nyc_neighborhoods;

CREATE TABLE nyc_subway_stations AS
SELECT *
FROM read_csv_auto(
  'https://storage.googleapis.com/qm2/CASA0025/nyc_subway_stations.tsv',
  delim = '\t'
);

CREATE TABLE nyc_neighborhoods AS
SELECT *
FROM read_csv_auto(
  'https://storage.googleapis.com/qm2/CASA0025/nyc_neighborhoods.tsv',
  delim = '\t'
);

Running query in 'duckdb:///:memory:'

+-------+
| Count |
+-------+
+-------+

In [5]:
%%sql
SELECT COUNT(*) FROM nyc_subway_stations;

Running query in 'duckdb:///:memory:'

+--------------+
| count_star() |
+--------------+
|     491      |
+--------------+

## Question 2: Column Filtering

Write a SQL query to display the `ID`, `NAME`, and `BOROUGH` of each subway station in the `nyc_subway_stations` dataset.

In [6]:
%%sql

SELECT
  id,
  name,
  borough
FROM nyc_subway_stations;

Running query in 'duckdb:///:memory:'

+-------+--------------+-----------+
|   ID  |     NAME     |  BOROUGH  |
+-------+--------------+-----------+
| 376.0 | Cortlandt St | Manhattan |
|  2.0  |  Rector St   | Manhattan |
|  1.0  | South Ferry  | Manhattan |
| 125.0 |   138th St   |   Bronx   |
| 126.0 |   149th St   |   Bronx   |
|  45.0 |   149th St   |   Bronx   |
| 127.0 |   161st St   |   Bronx   |
| 208.0 |   167th St   |   Bronx   |
| 128.0 |   167th St   |   Bronx   |
| 209.0 |   170th St   |   Bronx   |
+-------+--------------+-----------+
Truncated to displaylimit of 10.

## Question 3: Row Filtering

Write a SQL query to find all subway stations in the `nyc_subway_stations` dataset that are located in the borough of Manhattan.

In [7]:
%%sql

SELECT *
FROM nyc_subway_stations
WHERE borough = 'Manhattan';

Running query in 'duckdb:///:memory:'

+----------+-------+--------------+--------------------+-------------------+-----------------------------------------------+-------------------------------------+-----------+--------+---------+---------------+-------------+---------+--------+
| OBJECTID |   ID  |     NAME     |      ALT_NAME      |      CROSS_ST     |                   LONG_NAME                   |                LABEL                |  BOROUGH  | NGHBHD |  ROUTES |   TRANSFERS   |    COLOR    | EXPRESS | CLOSED |
+----------+-------+--------------+--------------------+-------------------+-----------------------------------------------+-------------------------------------+-----------+--------+---------+---------------+-------------+---------+--------+
|    1     | 376.0 | Cortlandt St |        None        |     Church St     |          Cortlandt St (R,W) Manhattan         |          Cortlandt St (R,W)         | Manhattan |  None  |   R,W   |      R,W      |    YELLOW   |   None  |  None  |
|    2     |  2.0  |  Rector St   |        None        |        None       |            Rector St (1) Manhattan            |            Rector St (1)            | Manhattan |  None  |    1    |       1       |     RED     |   None  |  None  |
|    3     |  1.0  | South Ferry  |        None        |        None       |           South Ferry (1) Manhattan           |           South Ferry (1)           | Manhattan |  None  |    1    |       1       |     RED     |   None  |  None  |
|    25    | 296.0 |   W 4th St   |        None        |      6th Ave      |          W 4th St (B,D,F,V) Manhattan         |          W 4th St (B,D,F,V)         | Manhattan |  None  | B,D,F,V | A,B,C,D,E,F,V |    ORANGE   | express |  None  |
|   242    | 121.0 |   103rd St   |        None        |   Lexington Ave   |             103rd St (6) Manhattan            |             103rd St (6)            | Manhattan |  None  |    6    |       6       |    GREEN    |   None  |  None  |
|   243    | 192.0 |   103rd St   |        None        | Central Park West |           103rd St (A,B,C) Manhattan          |           103rd St (A,B,C)          | Manhattan |  None  |  A,B,C  |     A,B,C     | BLUE-ORANGE |   None  |  None  |
|   244    |  22.0 |   103rd St   |        None        |      Broadway     |             103rd St (1) Manhattan            |             103rd St (1)            | Manhattan |  None  |    1    |       1       |     RED     |   None  |  None  |
|   245    | 122.0 |   110th St   |        None        |   Lexington Ave   |             110th St (6) Manhattan            |             110th St (6)            | Manhattan |  None  |    6    |       6       |    GREEN    |   None  |  None  |
|   246    | 193.0 |   110th St   |   Cathedral Pky    | Central Park West |    110th St / Cathedral Pky (B,C) Manhattan   |    110th St / Cathedral Pky (B,C)   | Manhattan |  None  |   B,C   |      B,C      | BLUE-ORANGE |   None  |  None  |
|   247    |  39.0 |   110th St   | Central Park North |     Lenox Ave     | 110th St / Central Park North (2,3) Manhattan | 110th St / Central Park North (2,3) | Manhattan |  None  |   2,3   |      2,3      |     RED     | express |  None  |
+----------+-------+--------------+--------------------+-------------------+-----------------------------------------------+-------------------------------------+-----------+--------+---------+---------------+-------------+---------+--------+
Truncated to displaylimit of 10.

## Question 4: Sorting Results

Write a SQL query to list the subway stations in the `nyc_subway_stations` dataset in alphabetical order by their names.

In [8]:
%%sql

SELECT *
FROM nyc_subway_stations
ORDER BY name ASC;

Running query in 'duckdb:///:memory:'

+----------+-------+----------+--------------------+-------------------+-----------------------------------------------+-------------------------------------+-----------+--------+--------+-----------+-------------+---------+--------+
| OBJECTID |   ID  |   NAME   |      ALT_NAME      |      CROSS_ST     |                   LONG_NAME                   |                LABEL                |  BOROUGH  | NGHBHD | ROUTES | TRANSFERS |    COLOR    | EXPRESS | CLOSED |
+----------+-------+----------+--------------------+-------------------+-----------------------------------------------+-------------------------------------+-----------+--------+--------+-----------+-------------+---------+--------+
|   244    |  22.0 | 103rd St |        None        |      Broadway     |             103rd St (1) Manhattan            |             103rd St (1)            | Manhattan |  None  |   1    |     1     |     RED     |   None  |  None  |
|   243    | 192.0 | 103rd St |        None        | Central Park West |           103rd St (A,B,C) Manhattan          |           103rd St (A,B,C)          | Manhattan |  None  | A,B,C  |   A,B,C   | BLUE-ORANGE |   None  |  None  |
|   242    | 121.0 | 103rd St |        None        |   Lexington Ave   |             103rd St (6) Manhattan            |             103rd St (6)            | Manhattan |  None  |   6    |     6     |    GREEN    |   None  |  None  |
|   376    | 174.0 | 103rd St |    Corona Plaza    |   Roosevelt Ave   |       103rd St / Corona Plaza (7) Queens      |     103rd St / Corona Plaza (7)     |   Queens  |  None  |   7    |     7     |    PURPLE   |   None  |  None  |
|   377    | 239.0 | 104th St |        None        |    Liberty Ave    |              104th St (A) Queens              |             104th St (A)            |   Queens  |  None  |   A    |     A     |     BLUE    |   None  |  None  |
|   378    | 329.0 | 104th St |        None        |    Jamaica Ave    |             104th St (J,Z) Queens             |            104th St (J,Z)           |   Queens  |  None  |  J,Z   |    J,Z    |    BROWN    |   None  |  None  |
|   245    | 122.0 | 110th St |        None        |   Lexington Ave   |             110th St (6) Manhattan            |             110th St (6)            | Manhattan |  None  |   6    |     6     |    GREEN    |   None  |  None  |
|   247    |  39.0 | 110th St | Central Park North |     Lenox Ave     | 110th St / Central Park North (2,3) Manhattan | 110th St / Central Park North (2,3) | Manhattan |  None  |  2,3   |    2,3    |     RED     | express |  None  |
|   246    | 193.0 | 110th St |   Cathedral Pky    | Central Park West |    110th St / Cathedral Pky (B,C) Manhattan   |    110th St / Cathedral Pky (B,C)   | Manhattan |  None  |  B,C   |    B,C    | BLUE-ORANGE |   None  |  None  |
|   379    | 240.0 | 111th St |        None        |    Liberty Ave    |              111th St (A) Queens              |             111th St (A)            |   Queens  |  None  |   A    |     A     |     BLUE    |   None  |  None  |
+----------+-------+----------+--------------------+-------------------+-----------------------------------------------+-------------------------------------+-----------+--------+--------+-----------+-------------+---------+--------+
Truncated to displaylimit of 10.

## Question 5: Unique Values

Write a SQL query to find the distinct boroughs represented in the `nyc_subway_stations` dataset.

In [9]:
%%sql

SELECT DISTINCT borough
FROM nyc_subway_stations;

Running query in 'duckdb:///:memory:'

+---------------+
|    BOROUGH    |
+---------------+
|   Manhattan   |
|     Bronx     |
| Staten Island |
|    Brooklyn   |
|     Queens    |
+---------------+

## Question 6: Counting Rows

Write a SQL query to count the number of subway stations in each borough in the `nyc_subway_stations` dataset.

In [10]:
%%sql

SELECT
  borough,
  COUNT(*) AS n_stations
FROM nyc_subway_stations
GROUP BY borough;

Running query in 'duckdb:///:memory:'

+---------------+------------+
|    BOROUGH    | n_stations |
+---------------+------------+
|    Brooklyn   |    170     |
|     Queens    |     90     |
|   Manhattan   |    140     |
|     Bronx     |     69     |
| Staten Island |     22     |
+---------------+------------+

## Question 7: Aggregating Data

Write a SQL query to list the number of subway stations in each borough, sorted in descending order by the count.

In [12]:
%%sql

SELECT
  borough,
  COUNT(*) AS n_stations
FROM nyc_subway_stations
GROUP BY borough
ORDER BY n_stations DESC;

Running query in 'duckdb:///:memory:'

+---------------+------------+
|    BOROUGH    | n_stations |
+---------------+------------+
|    Brooklyn   |    170     |
|   Manhattan   |    140     |
|     Queens    |     90     |
|     Bronx     |     69     |
| Staten Island |     22     |
+---------------+------------+

## Question 8: Joining Tables

Write a SQL query to join the `nyc_subway_stations` and `nyc_neighborhoods` datasets on the borough name, displaying the subway station name and the neighborhood name.

In [20]:
%%sql
SELECT *
FROM nyc_neighborhoods
LIMIT 1;

Running query in 'duckdb:///:memory:'

+----------+-------------+
| BORONAME |     NAME    |
+----------+-------------+
| Brooklyn | Bensonhurst |
+----------+-------------+

In [21]:
%%sql

SELECT
  s.name AS station_name,
  n.NAME AS neighborhood_name
FROM nyc_subway_stations AS s
JOIN nyc_neighborhoods AS n
  ON s.borough = n.BORONAME;

Running query in 'duckdb:///:memory:'

+--------------+-------------------+
| station_name | neighborhood_name |
+--------------+-------------------+
| Cortlandt St |     Chinatown     |
|  Rector St   |     Chinatown     |
| South Ferry  |     Chinatown     |
|   W 4th St   |     Chinatown     |
|   15th St    |      Red Hook     |
|   18th Ave   |      Red Hook     |
|   18th Ave   |      Red Hook     |
|   18th Ave   |      Red Hook     |
|   20th Ave   |      Red Hook     |
|   20th Ave   |      Red Hook     |
+--------------+-------------------+
Truncated to displaylimit of 10.

## Question 9: String Manipulation

Write a SQL query to display the names of subway stations in the `nyc_subway_stations` dataset that contain the word "St" in their names.

In [17]:
%%sql

SELECT
  name
FROM nyc_subway_stations
WHERE name LIKE '%St%';

Running query in 'duckdb:///:memory:'

+--------------+
|     NAME     |
+--------------+
| Cortlandt St |
|  Rector St   |
|   138th St   |
|   149th St   |
|   149th St   |
|   161st St   |
|   167th St   |
|   167th St   |
|   170th St   |
|   170th St   |
+--------------+
Truncated to displaylimit of 10.

## Question 10: Filtering with Multiple Conditions

Write a SQL query to find all subway stations in the `nyc_subway_stations` dataset that are in the borough of Brooklyn and have routes that include the letter "R".

In [18]:
%%sql

SELECT
  *
FROM nyc_subway_stations
WHERE borough = 'Brooklyn'
  AND routes LIKE '%R%';

Running query in 'duckdb:///:memory:'

+----------+-------+---------------+-----------+----------+----------------------------------+-------------------------+----------+--------+---------+-----------+---------------------+---------+--------+
| OBJECTID |   ID  |      NAME     |  ALT_NAME | CROSS_ST |            LONG_NAME             |          LABEL          | BOROUGH  | NGHBHD |  ROUTES | TRANSFERS |        COLOR        | EXPRESS | CLOSED |
+----------+-------+---------------+-----------+----------+----------------------------------+-------------------------+----------+--------+---------+-----------+---------------------+---------+--------+
|    81    | 406.0 |    25th St    |    None   | 4th Ave  |      25th St (M,R) Brooklyn      |      25th St (M,R)      | Brooklyn |  None  |   M,R   |    M,R    |     BROWN-YELLOW    |   None  |  None  |
|    82    | 407.0 |    36th St    |    None   | 4th Ave  |    36th St (D,M,N,R) Brooklyn    |    36th St (D,M,N,R)    | Brooklyn |  None  | D,M,N,R |  D,M,N,R  | BROWN-ORANGE-YELLOW | express |  None  |
|    83    | 408.0 |    45th St    |    None   | 4th Ave  |       45th St (R) Brooklyn       |       45th St (R)       | Brooklyn |  None  |    R    |     R     |        YELLOW       |   None  |  None  |
|    86    | 409.0 |    53rd St    |    None   | 4th Ave  |       53rd St (R) Brooklyn       |       53rd St (R)       | Brooklyn |  None  |    R    |     R     |        YELLOW       |   None  |  None  |
|    88    | 410.0 |    59th St    |    None   | 4th Ave  |      59th St (N,R) Brooklyn      |      59th St (N,R)      | Brooklyn |  None  |   N,R   |    N,R    |        YELLOW       | express |  None  |
|    91    | 412.0 |    77th St    |    None   | 4th Ave  |       77th St (R) Brooklyn       |       77th St (R)       | Brooklyn |  None  |    R    |     R     |        YELLOW       |   None  |  None  |
|    96    | 413.0 |    86th St    |    None   | 4th Ave  |       86th St (R) Brooklyn       |       86th St (R)       | Brooklyn |  None  |    R    |     R     |        YELLOW       |   None  |  None  |
|    98    | 414.0 |    95th St    | Bay Ridge | 4th Ave  | 95th St / Bay Ridge (R) Brooklyn | 95th St / Bay Ridge (R) | Brooklyn |  None  |    R    |     R     |        YELLOW       |   None  |  None  |
|   100    | 404.0 |     9th St    |  4th Ave  | 4th Ave  | 9th St / 4th Ave (M,R) Brooklyn  |  9th St / 4th Ave (M,R) | Brooklyn |  None  |   M,R   |   F,M,R   |     BROWN-YELLOW    |   None  |  None  |
|   119    | 411.0 | Bay Ridge Ave |    None   | 4th Ave  |    Bay Ridge Ave (R) Brooklyn    |    Bay Ridge Ave (R)    | Brooklyn |  None  |    R    |     R     |        YELLOW       |   None  |  None  |
+----------+-------+---------------+-----------+----------+----------------------------------+-------------------------+----------+--------+---------+-----------+---------------------+---------+--------+
Truncated to displaylimit of 10.

Once you've completed your attempt, you can check your answers [here](https://github.com/oballinger/CASA0025/blob/main/notebooks/W02_lab_solution.ipynb).